/* Colocando o Super Mário em cima do Goomba, o texto dentro do balão de fala e tornando o balão numa fala do Bowser */
.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 360px;
  left: 70px;
}

.baloon {
  position: absolute;
  left: 270px;

}

.speach {
  font-size: 25px;
  position: absolute;
  left: 293px;
  top: 120px;
  z-index: 3;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 570px;
  z-index: 4;
  top: 230px;
}