/* Modificando o tamanho, a cor do texto e a família da fonte do h1 */
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif, Arial;
  }

  /* Modificando a cor de fundo da lista não ordenada */
  ul {
    background-color: aquamarine;
  }

  /* Criando uma classe para modificar a cor de fundo da tag p e da ul ao mesmo tempo (a cor de fundo da lista será sobrescrita) */
  .bg-green {
    background-color: rgb(155, 233, 155);
  }

  /* Deixando o parágrafo com font-weight 600 e com o tamanho da fonte 3 vezes maior que a fonte do body */
  p {
    font-weight:600;
    font-size: 3em;
  }

  /* Modificando o font-size do body para 16px */
  body {
    font-size: 16px;
  }

  /* Explorando as propriedades font-style, line-height, text-align e text-decoration */
  li {
    font-style: italic;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
  }
  
  /* Alterando a cor de fundo de cada item da lista para a cor correspondente ao texto */
  #amarelo {
    background-color: yellow;
  }
  #vermelho {
    background-color: red;
  }
  #marrom {
    background-color: brown;
  }